/* body {
    background-color: #4B371C;
background-image: radial-gradient(circle, #9a7b4f, #846440, #6f4e31, #593923, #432616);
background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.navbar{
background-image: radial-gradient(circle, #9a7b4f, #846440, #6f4e31, #593923, #432616);
}  */
 .miniatures{
    margin-top: 5px;
    max-width: 300px;
    height: 450px;
 }

 body {
    background-color: #F5EBE0; /* Le fond beige doux */
    color: #2D3142;           /* Texte anthracite */
    font-family: 'Georgia', serif; /* Une police avec empattements pour le côté livre */
}

.container {
    margin-top: 10px;
    background-color: #FFFFFF;
    border-radius: 8px;       /* Des coins arrondis pour la douceur */
    box-shadow: 0 4px 6px rgba(0,0,0,0.05); /* Ombre légère pour le relief */
    padding: 20px;
    margin-bottom: 20px;
}
.card{
    margin: 10px;
    align-items:center;
}

/* test nav bar customisé */
.custom-navbar {
    background-color: #1B263B !important; /* Ton Bleu Marine */
    border-bottom: 3px solid #84A59D;      /* Rappel Vert Sauge */
}

/* Le titre de la bibliothèque */
.navbar-brand {
    font-family: 'Georgia', serif;
    font-weight: bold;
    color: #FFFFFF !important;
}

/* Les liens du menu */
.custom-navbar .nav-link {
    color: #F5EBE0 !important; /* Ton Beige Papier */
    transition: 0.3s;
}

/* Au survol des liens */
.custom-navbar .nav-link:hover {
    color: #84A59D !important; /* Devient Vert Sauge au survol */
}

/* Correction pour le menu déroulant (dropdown) */
.dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid #1B263B;
}

.dropdown-item:hover {
    background-color: #F5EBE0;
    color: #1B263B;
}
