body {
    /* background-color: #4B371C; */
/* background-image: radial-gradient(circle, #9a7b4f, #846440, #6f4e31, #593923, #432616); */
background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
/* .navbar{
background-image: radial-gradient(circle, #9a7b4f, #846440, #6f4e31, #593923, #432616);
} */
 .miniatures{
    margin-top: 5px;
    max-width: 309.8px;
    height: 304px;
 }